@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./SFMonoLight.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('./SFMonoLightItalic.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./SFMonoRegular.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./SFMonoRegularItalic.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./SFMonoMedium.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('./SFMonoMediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./SFMonoSemibold.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('./SFMonoSemiboldItalic.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./SFMonoBold.woff') format('woff');
}

@font-face {
	font-family: 'SF Mono';
	font-style: italic;
	font-weight: 700;
	src: url('./SFMonoBoldItalic.woff') format('woff');
}
